<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<title>About</title>
    <link rel="icon" href="/img/weather.png">

<body>
<div class="mai-content">
    {{>header}}
    <img class="port" src="/img/shoes.jpeg">
</div>

    
    {{>footer}}
</body>
</html>